# The variables added in this file are only available locally in MiniOxygen.
# https://shopify.dev/docs/custom-storefronts/hydrogen/environment-variables
#
# Run `npx shopify hydrogen link` to also inject environment variables from your storefront,
# or `npx shopify hydrogen env pull` to populate this file.

## Shopify

# A secret used to sign session cookies.
SESSION_SECRET=""

# The domain of the store used to communicate with the Storefront API.
PUBLIC_STORE_DOMAIN=

# The public access token for the Storefront API.
PUBLIC_STOREFRONT_API_TOKEN=

## Sanity

# Project ID
SANITY_PROJECT_ID=

# Dataset name
SANITY_DATASET=

# Viewer token for preview
SANITY_API_TOKEN=